img {
    max-width: 500px;
    display: block;
    margin: 10px auto;
}
body на{
    background-color: lightgray;
}

div {
    width: 70%;
    margin: auto;
    background-color: white;
    padding: 25px;
    display: block;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
    line-height: 30px;
    font-family: Arial;
}
{
    a:hover{
color: lightsalmon;
border-color: maroon;
    }